.acc {
    margin: 20px auto;
        &:hover .acc__title {
            &:after {
                content:'';
                display: block;
                width: 0.7em;
                height: 0.7em;
                background-color: #000;
                //квадраты
                clip-path: polygon(35% 0%,65% 0%,65% 35%,100% 35%,100% 60%,65% 60%,65% 100%,35% 100%,35% 60%,0% 60%,0% 35%,35% 35%);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &:hover .acc__mem {
            &:checked ~ .acc__title {
                color: #000;
                &:after {
                    content:'';
                    display: block;
                    width: 0.7em;
                    height: 0.7em;
                    background-color: #000;
                    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &:hover .acc__title {
            color: #000;

        }
}

.acc__header_title {
    padding: 10px 15px;
}

.acc__item {
    margin-bottom: 15px;
    &:before {
        content: '';
        height: 1px;
        width: 100%;
        display: inline-block;
        background-color: rgb(235, 227, 227);
    }
    &:hover {
        .acc_image {
            height: auto;
            opacity: 1;
            visibility: visible;
        }
        .acc__title {
            color: #000;
            &:after {
                content:'';
                display: block;
                width: 0.7em;
                height: 0.7em;
                background-color: #000;
                clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}


.acc__title {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: color .3s;
    position: relative;
    color: rgb(41, 108, 252);
        &:hover {
            // color: rgb(237, 245, 130);
        }
}


.acc__mem {
    width: 0; //скрываю радиокнопку
    height: 0; //скрываю радиокнопку
    position: absolute;//скрываю радиокнопку
    appearance: none; //скрываю радиокнопку
        &:checked ~ .acc_image {
            height: auto;
            opacity: 1;
            visibility: visible;
        }
        &:checked ~ .acc__title {
            color: #000;
        }
}

.acc__image_mem1 {
    max-width: 200px;
    margin: 0 auto;
}


.acc_image {
    // display: none;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    padding: 0 15px;
}

.acc__image_mem1 {
    cursor: pointer;
}