@media (min-width:820px) {
    body {
        min-width: 820px;
    }
    .acc {
        padding: 0  20px;
    }
}

@media (min-width:1920px) {
    body {
        min-width: 1920px;
    }
    .acc {
        padding: 0  20px;
    }
}